@import url('https://fonts.cdnfonts.com/css/google-sans');
*{
    margin: 0;
    padding: 0;
    font-family: 'Product Sans', sans-serif;
}
#welcome{
    background-color: #150734;
    padding-top: 50px;

}
.welcome-card{
    width: 45%;
}
#welcome h1{
    color: #fff;
}
#welcome p{
    font-size: 25px;
}
#welcome span{
    color: orange;
}
#welcome h2{
    color: #fff;
}
#welcome p{
    color: #fff;
}
#welcome button{
    padding: 15px;
    font-size: 25px;
    width: 150px;
    margin-top: 30px;
    background-color: orange;
    border: none;
    border-radius: 5px;
}
#welcome img{
    width: 70%;
    border-radius: 55px;
    position: relative;
    bottom: 30px; 
}

#project{
    padding-top: 70px;
    padding-bottom: 70px;
}
#project h2{
    text-align: center;
    color: #150734;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 40px;
}
#project .card{
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#project .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.project{
    margin: 0px auto;
    padding-top: 30px;
    width: 30%;
}
#services{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    padding-bottom: 90px;
    
}
.service-title{
    text-align: center;
    text-transform: uppercase;
    padding: 70px 0px;
    font-size: 20px;
    letter-spacing: 3px;
   
}
.service-title p{
    text-align: center;
}
.services{
    width: 90%;
    display: flex;
   justify-content: space-between;
   align-self: center;
}
.service-card{
    width: 25%;
    background-color: orange;
    text-align: center;
    margin: 0px auto;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
}
.service-card i{
    font-size: 45px;
}
#contact{
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #150734;
    text-align: center;
}
#contact h1{
    color: orange;
}
#contact h4{
    color: #fff;
}
#contact a{
    color: #fff;
    text-decoration: none;
}
#contact p{
    color: white;
}
